
<div class="mb-3">
  <%= turbo_frame_tag dom_id(note) do %>

    <div class= "card card-body border-0" style="padding-left: <%= 20 + note.depth * 20%>px">
      <div class="card-title collapsed" data-bs-toggle="collapse" href="<%= "#collapse_note_#{note.id}" %>" role="button" aria-expanded="false" aria-controls="collapseExample">
        <%= note.title %>
      </div>

      <div class="collapse" id="<%= "collapse_note_#{note.id}" %>">
        <%= link_to edit_note_path(note), class:"text-decoration-none text-body" do %>
          <p><%= note.content %></p>
        <% end %>
      </div>
    </div>

    <%= turbo_frame_tag "note_#{note.id}_children" do %>
      <%= render note.children %>
    <% end %>
  <% end %>
</div>
