<div class="container" data-controller="search toggle">

  <%# Toggle Button %>
  <div class="btn-group" role="group" aria-label="Vertical radio toggle button group">
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" checked="" data-com.bitwarden.browser.user-edited="yes">
    <label class="btn btn-outline-dark" for="vbtn-radio1" data-action="click->toggle#showNotes">Note View</label>
    <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" data-com.bitwarden.browser.user-edited="yes">
    <label class="btn btn-outline-dark" for="vbtn-radio2" data-action="click->toggle#showTree">Tree View</label>
  </div>
  <%= turbo_frame_tag "new_note" do %>
   <%= link_to "New Note", new_note_path, class: "btn btn-dark" %>
  <% end %>
  <%= turbo_frame_tag :notes do %>
    <%= render "notes/search_bar" %>
    <%= render @notes %>
  <% end %>
</div>
<%= console %>
